@use '../../../common/box-shadow';
@use '../../../components/iconButtonWithText.module';
@import "~/node_modules/bootstrap/scss/functions";
@import "~/node_modules/bootstrap/scss/variables";
@import "~/node_modules/bootstrap/scss/mixins";

.title {
  text-align: center;
  margin-bottom: 50px;
}

.plannings {
  display: flex;
  flex-direction: column;
  justify-content: center;

  > * {
    margin-bottom: 15px;
  }
  .addPlanning {
    @extend .iconButtonWithText;

    padding: 25px 15px
  }
}

@include media-breakpoint-up(sm) { 
  .plannings {
    flex-direction: row;

    > * {
      margin-bottom: 0;
      margin-right: 15px;
    }
  }
}