@use '../common/colors.module';
@use '../common/box-shadow';

.wrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  nav {
    display: flex;
    flex-direction: column;
    text-align: center;

    a {
      flex: 1;
      padding: 45px 0;
      margin: 15px 0;
      font-size: 18px;
      font-weight: 700;
      transition: 0.1s;

      @include box-shadow.default;

      &:hover, &:active {
        transform: scale(1.02);
        font-size: 24px;
        @include box-shadow.strong;
      }
    }

    div {
      display: flex;
      justify-content: space-between;
    }
  }
}