@use '~/src/styles/common/box-shadow';
@use '~/src/styles/components/iconButtonWithText.module';
@use '~/src/styles/components/iconButton.module';
@use '~/src/styles/components/radio.module';

.formWrapper {
  @include box-shadow.default();  
  padding: 10px 15px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .closeForm {
    @extend .iconButton;
    align-self: flex-end;
  }

  .addTraining {
    @extend .iconButton;
    flex-direction: row;
    align-items: center;

    font-size: 15px;
    margin: 0 auto 15px;
    padding: 15px 40px;

    svg {
      margin-bottom: 0;
    }
  }

  .planningTypesWrapper {
    margin-bottom: 20px;

    .radioWrapper {
      @include radio.wrapper(2px);
    }
  }
}