@use '../common/colors.module';
@use '../components/radio.module';

.wrap {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    font-size: 20px;

    label {
      margin-bottom: 20px;
    }

    input {
      margin-bottom: 20px;
      font-size: 16px;
      padding: 5px;
    }

    fieldset {
      border: 0;
      margin-bottom: 10px;

      .radioWrapper {
        @include radio.wrapper(1px)
      }
    }

    button {
      background-color: white;
      display: flex;
      align-items: center;
      padding: 15px 20px;
      border:1px solid colors.$black;
      cursor: pointer;
      font-size: 16px;

      svg {
        font-size: 20px;
        margin-left: 8px;
      }

      &:hover {
        background-color: colors.$black;
        color: white;
      }
    }
  }
}