@use '~/styles/common/box-shadow';
@use '~/styles/components/iconButton.module';
@use '~/styles/components/closeButton.module';

.formWrapper {
  @include box-shadow.default();  
  padding: 25px 15px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;

  .closeForm {
    @extend .closeButton;
  }

  .addTraining {
    @extend .iconButton;

    font-weight: 500;
    font-size: 15px;
    margin: auto;
    padding: 15px 40px;

    svg {
      font-size: 18px;
    }
  }
}