@use '../../../../styles/common/box-shadow';
@use '../../../../styles/common/colors.module';

.card {
  @include box-shadow.default();  
  padding: 15px;
  text-align: center;

  .training {
    display: flex;
    align-items: center;
    margin: 15px 0;

    .label {
      margin-right: 10px;
    }
    
    .muscleGroups {
      display: flex;
      flex: 1;

      span {
        margin-right: 7px;
        font-size: 13px;
      }
    }
  }

  button {
    border: 2px solid colors.$primary;
    color: colors.$primary;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Montserrat;
    background-color: white;
    padding: 10px;
    cursor: pointer;

    &:hover {
      background-color: colors.$primary;
      color: white;
    }
  }
}