.closeButton {
  border: 0;
  background-color: white;
  align-self: flex-end;
  border-radius: 50%;
  cursor: pointer;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;

  &:hover {
    background-color: darken($color: white, $amount: 5)
  }
}