@use '../common/colors.module';
@use '../common//containers.module';
@import "~/node_modules/bootstrap/scss/functions";
@import "~/node_modules/bootstrap/scss/variables";
@import "~/node_modules/bootstrap/scss/mixins";

.header {
  background-color: colors.$primary;
  color: white;
  text-align: center;
  font-size: 14px;

  h1 {
    font-size: 20px;
    margin: 20px 0;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend .container;

    .right {
      display: flex;
      align-self: stretch;

      .pictureAndName {
        display: none;
      }

      .button {
        cursor: pointer;
        border: 0;
        color: white;
        display: flex;
        justify-content: center;
        align-self: stretch;
        align-items: center;
        padding: 0 20px;
        font-size: 18px;
        background-color: transparent;
  
        &:hover {
          background-color: darken($color: colors.$primary, $amount: 15);
        }
      }
    }
  }
}

@include media-breakpoint-up(sm) { 
  .header {
    .content {
      .right {
        .pictureAndName {
          display: flex;
          align-items: center;
          margin-right: 10px;
    
          span {
            margin-left: 10px;
          }
    
          img {
            border-radius: 50%;
          }
        }
      }
    }
  }  
}
