.swiper {
  padding-bottom: 40px;

  .trainingSlide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .buttonsWrapper {
      display: flex;
    }
  }

  .formWrapper {
    padding: 10px;
    display: flex;
    flex-direction: column;

    .title {
      margin-bottom: 20px;
      font-size: 22px;
    }

    .subtitle {
      margin-bottom: 20px;
    }

    .buttonsWrapper {
      display: flex;
      flex-direction: column;

      button {
        flex: 1;
        margin: 5px;
      }
    }
  }
}