.seriesForm {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-self: stretch;

  .seriesAndRepetitions {
    justify-content: space-around;
    display: flex;
    margin-bottom: 20px;
    
    label {
      flex: 1
    }
  }
}