.error {
  margin: 10px 0;
  padding: 15px 10px;
  border: 1px solid rgb(200, 54, 38);
  color: rgb(223, 57, 39);
  cursor: pointer;

  &:hover,
  &:active {
    transform: scale(1.02);
    font-weight: 500;
  }
  
}