@use '~/src/styles/components/iconButton.module';
@use '~/src/styles/common/box-shadow';

.trainingForm {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;

  .name {
    margin-top: 0;
    font-size: 22px;
  }

  label {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      margin-top: 10px;
      width: 65px;
      border: 1px solid #cccccc;
      font-size: 20px;
      text-align: center;
      padding: 7px;

      &:focus {
        border: 1px solid #9b9b9b;
        outline: none;
      }
    }
  }
}